<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligen.mapper.MessageMapper">

    <sql id="insertFields">
        createdat, updatedat, seqid, topic, `from`, head, content
    </sql>

    <sql id="selectFields">
        id, createdat, updatedat, deletedat, delid, seqid, topic, `from`, head, content
    </sql>
    
    <select id="selectMessageById" resultType="Message">
        SELECT <include refid="selectFields"/> FROM messages WHERE id = #{id};
    </select>

    <select id="selectMessageByTopic" resultType="Message">
        SELECT <include refid="selectFields"/> FROM messages WHERE topic = #{topicId};
    </select>

    <insert id="insertMessage" useGeneratedKeys="true" keyColumn="id" parameterType="Message">
        INSERT INTO messages(<include refid="insertFields"/>)
        VALUES(
               #{createDat},
               #{updateDat},
               #{seqId},
               #{topic},
               #{from},
               #{head},
               #{content}
        )
    </insert>

</mapper>